*{
    margin : 0 ;
    padding : 0 ;
    box-sizing: border-box;
}

body{
    background-color: rgb(105,101,156);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: columns;
}

.stopWatch{
    background-color: rgb(128, 194, 232);
    padding : 20px 24px;
    border-radius : 20px;
}

.timeDisplay{
    font-size: 100px;
    font-weight:600;
}
.buttons{
    margin-top: 20px;
}

.BTN1{
    font-size: 20px;
    background: none;
    border: none;
    color :rgb(17, 176, 73);
    background-color: var(--clr);
    padding : 12px 24px;
    margin-inline: 12px;
    border-radius: 8px;
    cursor: pointer;
}